extends layout

block includes
  script(src='/js/login.js')

block content
  h1(style='font-size: 3em; display: inline-block; margin-right: 10px;')= name
  button(class='ui button' id='copy') 
    i(class="copy outline icon")
  div(class='ui stackable grid')
    div(class='four wide column')
      h2 Log in
      form(class='ui form' id='login-form' method='POST' content-type='application/json') 
        div(class='form')
          div(class='field')
            label name
            input(id='username' type='text' name='username' value='')
          div(class='field')
            label password (optional):
            input(id='password' type='password' name='password' value='')
          input(class='ui primary button' type='submit' value='Submit')